{% extends "WebJecApp/Base.html" %}

{% load static %}

{% block content %}
<h2 class="m-0" style="font-size: 40px; text-align: center; padding: 40px; color: #333333; background-color: rgba(245, 211, 99, 0.11);" ><i></i>Nuestras reuniones</h2>
<style>
   .list-unstyled li {
     margin-bottom: 30px;
   }
   
   @media (max-width: 768px) {
     .list-unstyled li {
       margin-bottom: 10px;
     }
     
     .list-unstyled li span {
       font-size: 18px;
     }
   }
 </style>
 <br>
 <div class="container">
   <div class="row">
     <div class="col-sm-12 col-md-6 text-left">
       <ul class="list-unstyled">
         <li><span style="color: #f36a6a;">Miércoles 19.00hs:</span> Encuentro Oración y Estudio Bíblico</li>
         <li><span style="color: #f36a6a;" >Domingo 19.00hs:</span> Encuentro de celebración y alabanza a nuestro Dios</li>
         <li><span>Sábado 18.30hs:</span> Encuentro de Adolescentes de 16hs a 19hs años</li>
         <li><span>Sábados 20.30hs:</span> Encuentro de Jóvenes de 18 a 30 años</li>
       </ul>
     </div>
     <div class="col-sm-12 col-md-6 text-left">
       <ul class="list-unstyled">
         <li><span>2do sábado 12.45hs:</span> Encuentro de la 3ra edad</li>
         <li><span>4to Sábado 16.30hs:</span> Encuentro de Mujeres</li>
         <li><span>3er Sábado 20.30hs:</span> Encuentro de Matrimonios</li>
         <li><span>Sábado 10.00hs:</span> Club de niños de 4 a 11 años</li>
       </ul>
     </div>
   </div>
 </div>

 
 
 
 
 <!-- about -->
 <div class="about">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-5">
             <div class="titlepage">
               
               <p class="margin_0">"¡No hay nada más bello
                ni más agradable
                que ver a los hermanos
                vivir juntos y en armonía!" <br> (Salmos 133:1) </p>

             </div>
          </div>
          <div class="col-md-7">
             <div class="about_img">
                <figure><img src="{% static 'img/020.jpg' %}" alt="#"/></figure>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end about -->

 <div class="contact" style="position: relative; z-index: 1;">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="m-0 text-primary" style="font-size: 40px;">
           <h2>Contáctanos</h2>
         </div>
       </div>
     </div>
     <div class="row">
      <div class="col-md-6">
        <form id="request" class="main_form" method="POST" action="{% url 'contact_view' %}">
          <div class="row">
            <div class="col-md-12">
              <input class="contactus" placeholder="Nombre" type="text" name="Name" required> 
            </div>
            <div class="col-md-12">
              <input class="contactus" placeholder="Email" type="email" name="Email" required> 
            </div>
            <div class="col-md-12">
              <input class="contactus" placeholder="Número de teléfono" type="number" name="Phone_Number" required>                          
            </div>
            <div class="col-md-12">
              <textarea class="textarea" placeholder="Mensaje" name="Message" required></textarea>
            </div>
            <div class="col-md-12">
              <button class="btn btn-send">Enviar</button>
            </div><br><br><br>
          </div>
        </form>
      </div>
               
               <div class="col-md-6">
                  <div class="map_main">
                     <div class="map-responsive">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.680804577729!2d-58.28327068499303!3d-34.78881008041197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32be59de2edc9%3A0x16580b6e512260ec!2sSantiago%20Derqui%201285%2C%20B1887%20Gerli%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1664252852420!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

{% endblock %}