<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% load static %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Comunidad Web Jec</title>
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'assets/css/ionicons.min.css' %}" >
        <link href="https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>

            <!-- carousel -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <link href="{% static 'WebJecApp/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    </head>
<body>
   <nav  class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary" style="font-size: 40px;"><i></i>Iglesia JEC</h2>
        </a>
        <!--<button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon" ></span>
        </button>-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin: 25px;" >
            <div class="container-fluid">
              <div class="collapse navbar-collapse" >
                <ul class="navbar-nav" style="font-size: 18px; padding-inline-end: 10px;" >
                  <li class="nav-item">
                    <a class="nav-link active"style="padding-inline-end: 20px;" aria-current="page" href="#">Comunidad</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="padding-inline-end: 20px;"href="#">Ministerios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="padding-inline-end: 20px;"href="#">Multimedia</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="padding-inline-end: 20px;"href="#">Misión</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" style="padding-inline-end: 20px;"href="#">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>   
    </nav>
    <!--holaaaaaa-->

    <!--dsfsfdsfdsfdsfdsfdsfsfdsfdsfsdfsdffd-->

        <section class="page-section clearfix">
            <div class="container">
              <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/banner2.jpg' %}" alt="foto">

                <!--<div class="row">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-banner">DEFAULT</a>
                    </div>
                </div>-->
            </div>
        </section>

        <section id="one">
            <div class="container">
                <div class="one-features">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="section-highlight">
                                <h2>Una comunidad de fe</h2>
                            </div>
                            <div class="section-details">
                                <p>
                                    Creemos que la iglesia no es un lugar físico sino un conjunto de individuos que celebran la muerte y resurrección de nuestro Señor Jesucristo todos los días de su vida. Te invitamos a que puedas celebrar con nosotros las buenas noticias de Dios!
                                </p>
                                <a href="#" class="btn btn-learn-more">Leer más <i class="ion-ios-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="{% static 'img/logo2.jpg' %}" alt="Responsive image" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section style="background-color: #f7c5b5">
            <div class="container">
                <div class="two-features">
                    <div class="row">
                        <div class="col-md-4">
                        <img src="{% static 'img/plateados1.png' %}" style="border-radius: 55%" alt="Responsive image">
                        </div>
                        <div class="col-md-8">
                            <div class="section-highlight">
                                <h2>Conociste la Verdad?</h2>
                            </div>
                            <div class="section-details">
                                <p>
                                    Queremos compartirte un poco del tesoro que se nos entregó por gracia. Solo un corazón sincero y el deseo de conocer a Dios bastan para cambiar tu vida para siempre. "Jesús dijo: Yo soy el camino, y la verdad, y la vida; nadie viene al Padre, sino por mí" (Juan 14:6)
                                </p>
                                <a href="#" class="btn btn-learn-more">Leer más <i class="ion-ios-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="col-sm-8">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="{% static 'img/1.jpg' %}" alt="imágen">
              </div>
              <div class="item">
                <img src="{% static 'img/15.jpg' %}" alt="imágen">
              </div>
              <div class="item">
                <img src="{% static 'img/3.jpg' %}" alt="imágen">
              </div>
              <div class="item">
                <img src="{% static 'img/4.jpg' %}" alt="imágen">
              </div>
              <div class="item">
                <img src="{% static 'img/6.jpg' %}" alt="imágen">
              </div>
            </div>
          
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        
        <div id="three">
            <div class="container">
                <div class="three-features">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="section-highlight">
                                <h2>Una vida abundante</h2>
                            </div>
                            <div class="section-details">
                                <p>
                                    La Palabra de Dios dice que todo el que acepta al Señor en su corazón nace denuevo, una nueva vida comienza. 
                                </p>
                                <a href="#" class="btn btn-learn-more">Leer más<i class="ion-ios-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="{% static 'img/Holy-Spirit-PNG-Image.png' %}" alt="Responsive image" class="img-responsive" style="border-radius: 55%" >
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="contact">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="m-0 text-primary" style="font-size: 40px;">
                        <h2>Contactanos</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <form id="request" class="main_form">
                        <div class="row">
                           <div class="col-md-12 ">
                              <input class="contactus" placeholder="Nombre" type="type" name="Name"> 
                           </div>
                           <div class="col-md-12">
                              <input class="contactus" placeholder="Email" type="type" name="Email"> 
                           </div>
                           <div class="col-md-12">
                              <input class="contactus" placeholder="Número de teléfono" type="type" name="Phone Number">                          
                           </div>
                           <div class="col-md-12">
                              <textarea class="textarea" placeholder="Mensaje" type="type" Message="Mensaje"></textarea>
                           </div>
                           <div class="col-md-12">
                              <button class="btn-send">Enviar</button>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="col-md-6">
                     <div class="map_main">
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.680804577729!2d-58.28327068499303!3d-34.78881008041197!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a32be59de2edc9%3A0x16580b6e512260ec!2sSantiago%20Derqui%201285%2C%20B1887%20Gerli%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1664252852420!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-md-12">
                            <p>&copy; Comunidad Web Jec 2022-2023. DIOS TE BENDIGA!</p>
                        </div>
                    </div>
                </div>
            </div>
    
    </div>

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>


</body>
  
</html>