{% extends "WebJecApp/Base.html" %}


{% load static %}


{% block content %}

<body  >

 <!-- our_room -->
 <div  class="our_room">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
          </div>
       </div>
       <div class="row">
          <div class="col-md-4 col-sm-6">
             <div id="serv_hover"  class="room">
                <div class="room_img">
                   <figure><img src="{% static 'img/014.jpg' %}" alt="#"/></figure>
                </div>
                <div class="bed_room">
                   <h3>Matrimonios</h3>
                   <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div id="serv_hover"  class="room">
                <div class="room_img">
                   <figure><img src="{% static 'img/0121.jpg' %}" alt="#"/></figure>
                </div>
                <div class="bed_room">
                   <h3>Jóvenes 412</h3>
                   <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div id="serv_hover"  class="room">
                <div class="room_img">
                   <figure><img src="{% static 'img/0118.jpg' %}" alt="#"/></figure>
                </div>
                <div class="bed_room">
                   <h3>Varones Jec</h3>
                   <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div id="serv_hover"  class="room">
                <div class="room_img">
                   <figure><img src="{% static 'img/0142.jpg' %}" alt="#"/></figure>
                </div>
                <div class="bed_room">
                   <h3>Mujeres Jec</h3>
                   <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div id="serv_hover"  class="room">
                <div class="room_img">
                   <figure><img src="{% static 'img/018.jpg' %}" alt="#"/></figure>
                </div>
                <div class="bed_room">
                   <h3>Plateados</h3>
                   <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                </div>
             </div>
          </div>
          <div class="col-md-4 col-sm-6">
             <div id="serv_hover"  class="room">
                <div class="room_img">
                   <figure><img src="{% static 'img/019.jpg' %}" alt="#"/></figure>
                </div>
                <div class="bed_room">
                   <h3>Club de Niños</h3>
                   <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
                </div>
             </div>
          </div>
          <!--<div class="col-md-4 col-sm-6"" >
            <div id="serv_hover"  class="room">
               <div class="room_img">
                  <figure><img src="{% static 'img/logo2.jpg' %}" alt="#"/></figure>
               </div>
               <div class="bed_room">
                  <h3>Generación</h3>
                  <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there </p>
               </div>
            </div>
         </div>-->
       </div>
    </div>
 </div>
</body>

{% endblock %}
